
Project_Agile/.idea/workspace.xml
Project_Agile/.idea/vcs.xml
Project_Agile/.idea/Project_Agile.iml
Project_Agile/.idea/php.xml
Project_Agile/.idea/modules.xml
Project_Agile/.idea/misc.xml
Project_Agile/.phpunit.result.cache
Project_Agile/.env
*.cache
Project_Agile/.env
Project_Agile/.env
