.small p {
    font-size: 10px;
    margin-top: 0;
}

#add-user-container {
    margin-top: 20px;
}

.container .image:hover {
    background-color: black;
}

.profile-container-border {
    border: solid 1px #707070;
    border-radius: 25px;
    display: flex;
    height: 256px;
    width: max-content;
}

.crud-form {
    height: 35px;
    border-radius: 30px;
    border: 1px solid #48618a;
    font-size: 1em;
    outline: none;
    padding-right: calc(1.6em + 0.75rem);
    padding-left: 8px;
}

.input-label-container {
    display: table-cell;
}

.form-container {
    width: 70%;
}

.form-container-create {
    width: max-content;
}

.profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: block;
    overflow: auto;
    height: 256px;
    object-fit: cover;
    cursor: pointer;
}

.profile-picture-create {
    width: 256px;
    display: block;
    overflow: auto;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.input-colum {
    display: flex;
    flex-direction: row;
}

.profile-picture-container {
    height: auto;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-right: 4em;
    width: 256px;
}

.profile-picture-container-create {
    height: auto;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-right: 4em;
    width: 100%;
}

.profile-container-border-create {
    border: solid 1px #707070;
    border-radius: 25px;
    width: max-content;
    padding-bottom: 1em;
    display: table;
}

.profile-picture-container:hover {
    opacity: 0.2;
}

.input-rows {
    white-space: nowrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 256px;
}

@supports (-ms-ime-align:auto) {
    .input-rows {
        justify-content: space-around;
    }
}

.input-rows-create {
    width: 100%;
    padding-left: 15px;
    padding-right: 25px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.upload-image {
    display: none;
    position: relative;
    height: 100%;
}

.profile-row {
    width: auto;
    padding-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 70px;
    font-weight: bold;
}

.profile-row-create {
    width: auto;
    flex-wrap: nowrap;
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.profile-row .col-form-label {
    width: 170px;
    height: 42px;
    display: table-cell;
    vertical-align: middle;
}

.profile-row-create .col-form-label {
    height: 42px;
    display: table-cell;
    vertical-align: middle;
}

.label_edit {
    display: block ruby;
}

.label_edit a img {
    width: 20px;
    height: 20px;
}

.edit {
    width: 9%;
    height: auto;
}

.profile-picture-label {
    width: 256px;
    height: 256px;
}

.profile-picture-label-create {
    display: table;
    margin: 0 auto;
}

.password-confirm {
    white-space: normal;
}

.recommended-size {
    width: 100%;
    color: gray;
}

.recommended-size-create {
    width: 100%;
    color: gray;
    text-align: center;
}

.form-button {
    text-align: center;
    margin-top: 1em;
    justify-content: space-evenly;
    display: flex;
}

.crud-form[readonly="readonly"] {
    border: none;
}

.valid-feedback {
    display: none;
    width: 100%;
    font-size: 80%;
    color: #38c172;
}

.valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.7875rem;
    line-height: 1.6;
    color: #fff;
    background-color: rgba(56, 193, 114, 0.9);
    border-radius: 0.25rem;
}

.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip,
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip {
    display: block;
}

.was-validated .form-control:valid,
.form-control.is-valid {
    border-color: #38c172;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2338c172' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
    border-color: #38c172;
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
    padding-right: calc(1.6em + 0.75rem);
    background-position: top calc(0.4em + 0.1875rem) right calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
    border-color: #38c172;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2338c172' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
    border-color: #38c172;
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
    color: #38c172;
}

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip,
.form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
    display: block;
}

.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label {
    color: #38c172;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: #38c172;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
    border-color: #5cd08d;
    background-color: #5cd08d;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before,
.custom-control-input.is-valid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #38c172;
}

.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
    border-color: #38c172;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label,
.custom-file-input.is-valid:focus ~ .custom-file-label {
    border-color: #38c172;
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.invalid-feedback {
    width: 250px;
    word-break: break-word;!important;
    font-size: 75%;!important;
    word-wrap: break-word;!important;
    color: #e3342f;
    position: absolute;
    font-weight: initial;
    margin: 0;
!important;
}

.invalid-feedback-create {
    position: relative;!important;
    width: 250px;
    word-break: break-word;!important;
    font-size: 75%;!important;
    word-wrap: break-word;!important;
    color: #e3342f;
    font-weight: initial;
    margin: 0;
!important;
}

.invalid-tooltip {
    position: relative;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    margin-top: 0.1rem;
    font-size: 0.7875rem;
    line-height: 1.6;
    color: #fff;
    background-color: rgba(227, 52, 47, 0.9);
    border-radius: 0.25rem;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
    display: block;
    z-index: 0;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #e3342f;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
    padding-right: calc(1.6em + 0.75rem);
    background-position: top calc(0.4em + 0.1875rem) right calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
    border-color: #e3342f;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
    color: #e3342f;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
    display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label,
.custom-control-input.is-invalid ~ .custom-control-label {
    color: #e3342f;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
    border-color: #e3342f;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before,
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    border-color: #e9605c;
    background-color: #e9605c;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #e3342f;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label,
.custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #e3342f;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label,
.custom-file-input.is-invalid:focus ~ .custom-file-label {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.alert {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: max-content;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 3.85rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #1b4b72;
    background-color: #d6e9f8;
    border-color: #c6e0f5;
}

.alert-primary hr {
    border-top-color: #b0d4f1;
}

.alert-primary .alert-link {
    color: #113049;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-secondary hr {
    border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}

.alert-success hr {
    border-top-color: #b3e8ca;
}

.alert-success .alert-link {
    color: #123c24;
}

.alert-info {
    color: #385d7a;
    background-color: #e2f0fb;
    border-color: #d6e9f9;
}

.alert-info hr {
    border-top-color: #c0ddf6;
}

.alert-info .alert-link {
    color: #284257;
}

.alert-warning {
    color: #857b26;
    background-color: #fffbdb;
    border-color: #fffacc;
}

.alert-warning hr {
    border-top-color: #fff8b3;
}

.alert-warning .alert-link {
    color: #5d561b;
}

.alert-danger {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5;
    padding-right: 1em;
}

.alert-danger hr {
    border-top-color: #f4b0af;
}

.alert-danger .alert-link {
    color: #4c110f;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}
